

NET "reset" IOSTANDARD = LVTTL;
NET "rot_a" IOSTANDARD = LVTTL;
NET "rot_b" IOSTANDARD = LVTTL;
NET "bits[3]" IOSTANDARD = LVTTL;
NET "bits[2]" IOSTANDARD = LVTTL;
NET "bits[1]" IOSTANDARD = LVTTL;
NET "bits[0]" IOSTANDARD = LVTTL;


NET "clk" LOC = C9;
NET "lcd_e" LOC = M18;
NET "lcd_rs" LOC = L18;
NET "lcd_w" LOC = L17;
NET "rot_a" LOC = K18;
NET "rot_b" LOC = G18;
NET "databits[3]" LOC = M15;
NET "databits[2]" LOC = P17;
NET "databits[1]" LOC = R16;
NET "databits[0]" LOC = R15;


NET "lcd_e" IOSTANDARD = LVCMOS33;
NET "lcd_rs" IOSTANDARD = LVCMOS33;
NET "lcd_w" IOSTANDARD = LVCMOS33;
NET "lcd_e" DRIVE = 4;
NET "lcd_rs" DRIVE = 4;
NET "lcd_w" DRIVE = 4;
NET "databits[3]" IOSTANDARD = LVCMOS33;
NET "databits[2]" IOSTANDARD = LVCMOS33;
NET "databits[1]" IOSTANDARD = LVCMOS33;
NET "databits[0]" IOSTANDARD = LVCMOS33;
NET "databits[3]" DRIVE = 4;
NET "databits[2]" DRIVE = 4;
NET "databits[1]" DRIVE = 4;
NET "databits[0]" DRIVE = 4;


NET "reset" LOC = V16;


NET "rot_a" PULLUP;
NET "rot_b" PULLUP;
NET "reset" PULLDOWN;
NET "clk" IOSTANDARD = LVTTL;
NET "clk" PERIOD = 20 ns HIGH 50 %;


NET "bits[3]" LOC = N17;
NET "bits[2]" LOC = H18;
NET "bits[1]" LOC = L14;
NET "bits[0]" LOC = L13;


NET "bits[3]" PULLUP;
NET "bits[2]" PULLUP;
NET "bits[1]" PULLUP;
NET "bits[0]" PULLUP;
